# VITE_BACKEND=https://backend.minimalpos.com/api/v1
# VITE_BACKEND_SOCKET_IO=https://backend.minimalpos.com
# VITE_BACKEND_IMAGES_BASE_URL=https://backend.minimalpos.com
# VITE_FRONTEND_DOMAIN=https://minimalpos.com
# VITE_STRIPE_PRODUCT_SUBSCRIPTION_KEY="price_1POsjYSCWiCS3BoQN2lnBMTz"
